/* ==================================================================
   Loader
   ================================================================== */

.loader-holder{
	position: absolute;
	z-index: 1000;
	left: 0;
	top: 0;
	height: 3px;
	width: 100vw;
}
